<div>
    <div class="dashboard-graph">
      <app-line-chart></app-line-chart>
    </div>
    <div class="dashboard-graph">
      <app-pie-chart></app-pie-chart>
    </div>
    <div class="dashboard-graph">
      <app-bar-chart></app-bar-chart>
    </div>
    <div class="dashboard-graph">
      <app-doughnut-chart></app-doughnut-chart>
    </div>
</div>
<div>
  <div class="dashboard-graph">
    <app-radar-chart></app-radar-chart>
  </div>
  <div class="dashboard-graph">
    <app-polar-area-chart></app-polar-area-chart>
  </div>
  <div class="dashboard-graph">
    <app-bubble-chart></app-bubble-chart>
  </div>
  <div class="dashboard-graph">
    <app-scatter-chart></app-scatter-chart>
  </div>
</div>

